# Fichiers à ignorer

# CSV
crop_yield.csv
yield_df.csv
harmonization_data/
yield_df_final_conso.csv
UNSD — Methodology.csv

# Notebooks
notebook_analyse_exploratoire copy.ipynb
notebook_pca.ipynb
notebook_analyse_exploratoire_old.ipynb
notebook_feature_engineering copy.ipynb
notebook_feature_engineering copy 2.ipynb
notebook_feature_engineering copy 3.ipynb
notebook_modelisation copy.ipynb
notebooks/notebook_modelisation copy 2.ipynb
notebooks/yield_df_cleaned_final.csv
notebook_modelisation copy 3.ipynb

# Dossier
.vscode

# Annexe
.DS_Store
poetry.lock

# Cache
__pycache__

# Scripts
data_cleaning_global.py
feature_engineering.py

# MLFlow
mlruns/
artifacts/
mlflow.db
mlflow.py
feature_importance_random_forest.csv
