# ===================
# Fichiers à ignorer
# ===================

# CSV
crop_yield.csv
yield_df.csv
harmonization_data/
yield_df_final_conso.csv
UNSD — Methodology.csv
crop_yield_conso.csv
data/raw/FAOSTAT_data_en_4-6-2026.csv
data/processed/yield_df_enriched_conso.csv
feature_importance_random_forest.csv

# Notebooks
notebook_feature_engineering copy 2.ipynb
__init__.py

# Annexe
.DS_Store
poetry.lock
.vscode
.pytest_cache
__pycache__
.envnotebooks/graph/
.env
analyse_extremes_agricoles.png
graph/
pdf-style.css
rapport_metier.md

# MLFlow
mlruns/
artifacts/
mlflow.db
mlflow.py

# Model
model
model/*.joblib
*.joblib